.combo-name {
    font-weight: bold;
    font-size: 11px;
    background-color: #FFFF99;
}
.combo-full-address {
    font-size: 11px;
    color: #666666;
}
.combo-full-dtil {
    font-weight: bold;
    font-size: 10px;
    color: #1b376c;
}
.remove-icon16{

    background:transparent url(../images/delete16.png) center 0 no-repeat !important;
}
.remove-icon24{
    background:transparent url(../images/delete24.png) center 0 no-repeat !important;
}

.remove-search{
    background:transparent url(../images/search.png) center 0 no-repeat !important;

}
.remove-icon32{
    background:transparent url(../images/delete32.png) center 0 no-repeat !important;
}
.zoom-icon32{
    background:transparent url(../images/zoom.png) center 0 no-repeat !important;
}
.card-icon32{
    background:transparent url(../images/card_credit.png) center 0 no-repeat !important;
}