
@{
    Layout = null;
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cloud Real Estate</title>
    @*<script src="http://cdn.sencha.com/ext/gpl/4.2.1/ext-all.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/4.2.1/ext-all-debug.js"></script>
    <link rel="stylesheet" href="http://cdn.sencha.com/ext/gpl/4.2.1/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css">
    <link rel="stylesheet" href="~/resources/css/app.css">

    <script src="~/translations/locale.js"></script>
    <script type="text/javascript">
        function UTCStringToDate(dtStr, format) {
            var dateObj = new Date(Date.parse(dtStr, format));
            return dateObj;
        }

    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjBmK9Yucev5evezjQqOrlzcPaKtVochY&libraries=places&key=AIzaSyANvYjCrP7wZELODTE8ZLByuro57108kfo&language=en"></script>

    <script type="text/javascript" src="~/app.js"></script>

    @*<script src="~/Views/TransSystem/app.js"></script>*@
</head>
<body>
</body>
</html>



